.pg-servicos
	.servicos
		>li 
			display: block 
			.thumbnail
				background-position: bottom center 
				background-repeat: no-repeat
				background-size: cover
				display: block
				height: 250px
				margin-bottom: 15px
			p
				font-weight: 300
				+rem(('font-size':16px,'line-height':22px))
			&:not(:last-child)
				margin-bottom: 65px