.header
	background-color: white
	border-bottom: 1px $lightgray solid
	width: 100%
	&.sticky
		+mq(940px, max)
			display: none !important
		left: 0
		position: fixed 
		top: 0
		z-index: 50
		&.stuck 
			.container
				align-items: center
			.logo 	
				img 
					max-width: 200px
	.logo
		img 
			transition: max-width 500ms linear
		+mq(414px, max)
			flex: 1
			padding-right: 35px
	.container
		align-items: flex-start
		+mq(940px, max)
			align-items: center
		@extend .flex 
		flex-flow: row wrap 
		justify-content: space-between
		padding-top: 10px 
		padding-bottom: 10px
		> div 
			align-items: flex-end
			@extend .flex 
			flex-flow: column wrap 
			.contato
				margin-bottom: 8px
				+mq(940px, max)
					margin-bottom: 25px			
					+mq(680px, max)
						display: none
				i
					background-color: $blue
					padding: 4.5px 6px 
					display: inline-block 
					vertical-align: middle
				color: white
				span 
					background-color: $blue
					padding: 0 20px
					+rem(('line-height':33px))
				p
					> * 
						display: inline-block 
						vertical-align: middle
					+rem('font-size', 13px)
			.navigation
				.current
					color: $blue
					&:hover
						color: white
				>ul 
					align-items: center
					@extend .flex 
					flex-flow: row wrap 
					justify-content: flex-end
					>li
						font-family: 'Source Sans Pro', sans-serif
						font-weight: 600
						>ul 
							top: 100%
							left: 0					
						+mq(940px, max)
							display: none 
						&:not(:last-child)
							&:hover 
								background-color: $blue 
								color: white
						&:not(:last-child)
							padding: 15px 10px
							+mq(1024px, max)
								padding: 10px 5px
						&:last-child
							display: none  
							+mq(940px, max)
								display: block												
					li
						+rem(('font-size':17px))
						position: relative
						text-transform: uppercase
						color: #0d0d0d
						&:hover > ul 
							display: block
						ul 
							background-color: $blue
							display: none 
							position: absolute 
							width: 150px
							li 
								color: white
								display: block
								letter-spacing: initial
								+rem('font-size', 14px) 
								padding: 10px
								>a
									display: block 
									width: 100%
									overflow: hidden 
									text-overflow: ellipsis
									white-space: nowrap
								&:hover 
									background-color: lighten($blue, 3%) 
									color: white
								>ul 
									top: 0 
									left: 100%


